.confirmar-datos-pagar {
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border-style:hidden;
    border-radius: 1.2rem;
    color:white;
    cursor: pointer;
    background-color: rgba(250, 143, 177, 0.8);
    transition: 0.5s;
    margin-bottom: 1.2rem;
}

.confirmar-datos-pagar:hover {
    background-color: rgba(250, 143, 177, 1);
}

.green:hover {
    background-color: rgba(17, 187, 31, 1);
    color: white;
}

.contenedor-input {
    width: 30rem;
    background: #fff;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.1);
}

.contenedor-input .input-data {
    height: 3rem;
    width: 100%;
    position: relative;
}

.input-form {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    border-bottom: 1px solid silver;
    font-size: 1.7rem
}

.label-form {
    margin-bottom: 2rem;
    left: 9;
    color: grey;
    pointer-events: none;
}

.input-form:focus ~ .label-form{
    transform: translateY(-20px);
}

.campo {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}