.img {
    background-position: center;
    background-size: cover;
    width: 28.1rem;
    height: 39rem;
    border-radius: 1rem;
}

.title {
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}

.item {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1vw solid #ffc1d5;
    border-radius: 1rem;
}

.comprar {
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 13rem;
    border-style:hidden;
    border-radius: 1.2rem;
    color:white;
    cursor: pointer;
    background-color: rgba(250, 143, 177, 0.8);
    margin-bottom: 1.2rem;
    transition: 0.5s;
}

.comprar:hover {
    background-color: rgba(250, 143, 177, 1)
}


.ver-mas {
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 13rem;
    border-style:hidden;
    border-radius: 1.2rem;
    color:#fa8fb1;
    cursor: pointer;
    background-color: #ffe4ec;
    margin-bottom: 1.2rem;
    transition: 0.5s;
}

.ver-mas:hover{
    background-color: white;
    color: black;
}
.contenedor-botones {
    display: flex;
    justify-content: space-around;
    width: 95%;
}