.nav {
    font-size: 2rem;
    width: 100%;
    background-color: #FC6998;
    display:flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.caja {
    width: 31rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.caja a {
    margin-right: 2rem;
    text-decoration: none;
}

.nombre {
    cursor:pointer;
    color:white;
    text-decoration: none;
    padding: 2rem;
}

@media(max-width: 768px){
    .caja {
    width: 30rem;
    }
}

@media(max-width: 500px){
    .caja {
    width: 23rem;
    }
}

.tomos-pares, .icon-cart, .catalogo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.tomos-pares:hover,
.icon-cart:hover,
.catalogo:hover {
    color: rgba(255, 255, 255, 1);
}
