.nav {
    font-size: 2rem;
    color: white;
    width: 100%;
    background-color: #FC6998;
    display:flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.caja {
    width: 31rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.caja a {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
}

.nombre {
    cursor:pointer;
}

@media(max-width: 768px){
    .caja {
    width: 28vh;
    }
}
