.contador {
    width: 45%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4ec;
    padding: 1rem;
    border-radius: 0.5rem;
}

.cantidad {
    font-size: 1.6rem;
    color: black;
    border-style: hidden;
    border-color: #ffe4ec;
}

.contenedor {
    width: 43rem;
    height: 4rem;
    display: flex;
}

.boton-carrito {
    padding: 0.9rem;
    width: 25rem;
    border-style:hidden;
    border-radius: 0.5rem;
    color:white;
    cursor: pointer;
    background-color: #fa8fb1;
    margin-left: 1.5rem;
}

.botones {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: white;
    border-style:hidden;
    border-radius: 0.5rem;
    background-color: #fa8fb1;
    cursor: pointer;
}

