.contenedor-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 71vw;
    margin: 0 auto;
}

.item {
    color: black;
}

.margin {
    margin:5px;
}